*.pyc
.cache/
.project
.project/
.pydevproject
.pydevproject/
.settings/
.keystone-venv/
.venv
build/
dist/
doc/source/sourcecode
keystone.egg-info/
*.db
.*.swp
*.log
*.pid
pidfile
*.komodoproject
.coverage
.DS_Store
