*.pyc
.project
.project/
.cache/
.pydevproject
.pydevproject/
.settings/
keystone.db
ldap.db
keystone.token.db
.*.swp
*.log
*.pid
pidfile
*.komodoproject
build/
doc/source/sourcecode
.keystone-venv/
keystone.egg-info/
run_tests.err.log
.coverage
.DS_Store
test_migrations.db
