include AUTHORS
include ChangeLog
include LICENSE
include HACKING.rst
include README.rst
include openstack-common.conf
include run_tests.py
include run_tests.sh
include setup.cfg
include setup.py
include TODO
include tox.ini
include etc/*
graft bin
graft doc
graft tests
graft tools
graft examples
recursive-include keystone *.json *.xml *.cfg *.pem README
global-exclude *.pyc *.sdx *.log *.db *.swp
