# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

hacking<0.11,>=0.10.0
bashate>=0.2 # Apache-2.0

# computes code coverage percentages
coverage>=3.6
# fixture stubbing
fixtures>=1.3.1
# xml parsing
lxml>=2.3
# mock object framework
mock>=1.2
oslotest>=1.10.0 # Apache-2.0
# required to build documentation
sphinx!=1.2.0,!=1.3b1,<1.3,>=1.1.2
# test wsgi apps without starting an http server
WebTest>=2.0

# mox was removed in favor of mock. We should not re-enable this module. See
# discussion: http://lists.openstack.org/pipermail/openstack-dev/2013-July/012484.html
#mox>=0.5.3

python-subunit>=0.0.18
testrepository>=0.0.18
testtools>=1.4.0

# For documentation
oslosphinx>=2.5.0 # Apache-2.0

tempest-lib>=0.8.0

# Functional tests.
requests!=2.8.0,>=2.5.2
