hacking>=0.5.6,<0.8

# Optional backend: SQL
pysqlite

# Optional backend: Memcache
python-memcached>=1.48

# Optional backend: LDAP
# authenticate against an existing LDAP server
python-ldap==2.3.13

# Testing
# computes code coverage percentages
coverage>=3.6
# mock object framework
mox>=0.5.3
# for test discovery and console feedback
nose
nosexcover
openstack.nose_plugin>=0.7
nosehtmloutput>=0.0.3
# required to build documentation
sphinx>=1.1.2,<1.2
testtools>=0.9.32
# test wsgi apps without starting an http server
WebTest>=2.0

# for python-keystoneclient
# keystoneclient <0.2.1
httplib2
# replaces httplib2 in keystoneclient >=0.2.1
requests>=1.1
keyring>=1.6.1,<2.0

netifaces>=0.5

# For documentation
oslo.sphinx
