hacking
flake8-docstrings
bashate~=2.1.0 # Apache-2.0
stestr>=1.0.0 # Apache-2.0
freezegun>=0.3.6 # Apache-2.0

# Include drivers for opportunistic testing.
oslo.db[fixtures,mysql,postgresql]>=6.0.0 # Apache-2.0

# computes code coverage percentages
coverage!=4.4,>=4.0 # Apache-2.0
# fixture stubbing
fixtures>=3.0.0 # Apache-2.0/BSD
# xml parsing
lxml>=4.5.0 # BSD
oslotest>=3.2.0 # Apache-2.0

# test wsgi apps without starting an http server
WebTest>=2.0.27 # MIT
testtools>=2.2.0 # MIT
tempest>=17.1.0 # Apache-2.0

# Functional tests.
requests>=2.14.2 # Apache-2.0

bandit>=1.1.0 # Apache-2.0
