[DEFAULT]
verbose = False
debug = False
default_store = sqlite
log_file = %(test_dir)s/keystone.log
log_dir = %(test_dir)s
backends = keystone.backends.sqlalchemy
extensions= osksadm, oskscatalog
service-header-mappings = {
    'nova' : 'X-Server-Management-Url',
    'swift' : 'X-Storage-Url',
    'cdn' : 'X-CDN-Management-Url'}
service_host = 0.0.0.0
service_port = %(service_port)s
service_ssl = False
admin_host = 0.0.0.0
admin_port = %(admin_port)s
admin_ssl = False
keystone-admin-role = Admin
keystone-service-admin-role = KeystoneServiceAdmin
hash-password = True

[keystone.backends.sqlalchemy]
sql_connection = sqlite://
sql_idle_timeout = 30
backend_entities = ['Endpoints', 'Credentials',  'EndpointTemplates', 'Tenant', 'User', 'UserRoleAssociation', 'Role', 'Token', 'Service']

[pipeline:admin]
pipeline =
        urlnormalizer
        d5_compat
        admin_api

[pipeline:keystone-legacy-auth]
pipeline =
        urlnormalizer
        legacy_auth
        d5_compat
        service_api

[app:service_api]
paste.app_factory = keystone.server:service_app_factory

[app:admin_api]
paste.app_factory = keystone.server:admin_app_factory

[filter:urlnormalizer]
paste.filter_factory = keystone.frontends.normalizer:filter_factory

[filter:d5_compat]
paste.filter_factory = keystone.frontends.d5_compat:filter_factory

[filter:legacy_auth]
paste.filter_factory = keystone.frontends.legacy_token_auth:filter_factory
